body {
  /* background-image: url('./assets/images/alexander-andrews-eNoeWZkO7Zc-unsplash.jpg'); */
  background-image: url('./assets/images/dan-russo-adkrsIr_0iw-unsplash.jpg');
  /* background-attachment: fixed; */
  background-size: contain;
  background-color: black;
}

.child {
  width: 1000px;
  margin: auto;
  background-color: #2A4556;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Raleway', sans-serif;
  box-shadow: white 0 0 10px;

}
/* HEADER */
.header {
  /* background-image: url('./assets/images/farzad-mohsenvand-TbuescuqMjA-unsplash.jpg');
  background-size: cover; */
  height: 200px;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}
/* https://cssgradient.io/blog/css-gradient-text/ */
.header h1 {
  margin: auto;
  font-size: 60px;
  /* color: linear-gradient( 359deg,  rgba(150,192,255,1) -17.7%, rgba(255,180,161,1) 101.5% ); */
  background: -webkit-linear-gradient(  rgba(150,192,255,1), rgba(255,180,161,1) 101.5% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: white 1px 1px 1px ; */
}

/* NAVIGATION */

.nav ul {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  list-style: none;
  
}
/* LINKS */
a {
  text-decoration: none;
  color: darkgoldenrod;
}
.selected {
  text-decoration: none;
  color: coral;
}
a:hover {
  color: white;
  text-decoration: none;
}
/* TEXT STYLING */
p {
  font-size: 16x;
  color: white;
  margin: 10px;
  padding: 1px;
}
h1 {
  color: cadetblue;
  margin: 10px;
}
h2 {
  color: darkgoldenrod;
}
/* IMAGES */
img {
  width: 400px;
}
/* APOD COMP */
.apod {
  display: grid;
  grid-template-areas: "date date"
                        "title title"
                        "photo explanation"
                        "oldApods oldApods";
}
.date {
  grid-area: date;
  color: coral;
}
.title {
  grid-area: title;
  color: darkgoldenrod;
}
.photo {
  grid-area: photo;
}
.explanation {
  grid-area: explanation;
}
.oldApods {
  grid-area: oldApods;
}

/* VIEW APODS COMP */
.viewAPods {
  display: grid;
  grid-template-areas: 
                        "view-date view-date"
                        "view-title view-title"
                        "view-explanation view-photo";
  padding: 1px;
}
.view-date {
  grid-area: view-date;
}
.view-title {
  grid-area: view-title;
}
.view-explanation {
  grid-area: view-explanation;
}
.view-photo{
  grid-area: view-photo;
}
/* OLD APODS COMP */
.form {
  grid-area: form;
  color: white;
  display: flex;
}
label {
  margin: 10px;
}
input {
  height: 40px;
  margin: 10px;
}
button {
  height: 40px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  background-color: teal;
  box-shadow: coral 0 0 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

/* .pastApods {
  margin-top: 10px;
  display: grid;
  grid-template-areas: 
                        "form"
                        "viewApods-pastApods";

} */