body {
  background-image: url('./assets/images/dan-russo-adkrsIr_0iw-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.child {
  width: 1000px;
  margin: auto;
  background-color: #2A4556;
}
.nav ul {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  list-style: none;
}
a {
  text-decoration: none;
  color: darkgoldenrod;
}
.selected {
  text-decoration: none;
  color: coral;
}
a:hover {
  color: white;
  text-decoration: none;
}
p {
  font-size: 12px;
  color: black;
}
h1 {
  color: cadetblue;
}
h2 {
  color: darkgoldenrod;
}

img {
  width: 400px;
}
.apod {
  display: grid;
  grid-template-areas: "date date"
                        "photo explanation"
                        "oldApods oldApods";
}
.date {
  grid-area: date;
}
.photo {
  grid-area: photo;
}
.explanation {
  grid-area: explanation;
}
.apod .oldApods {
  grid-area: oldApods;
}
.form {
  grid-area: form;
}
.viewApods {
  display: grid;
  grid-template-areas: 
                        "date date"
                        "explanation photo"
                        
}
.pastApods {
  display: grid;
  grid-template-areas: 
                        "form"
                        "viewApods-pastApods"
                        "oldApods"
}