body {
  /* background-image: url('./assets/images/alexander-andrews-eNoeWZkO7Zc-unsplash.jpg'); */
  background-image: url('./assets/images/dan-russo-adkrsIr_0iw-unsplash.jpg');
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: black;
}
.App {
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.child {
  width: 1000px;
  justify-self: center;
  align-self: center;
  /* background-color: #2A4556; */
  background-color: black;
  opacity: 80%;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Raleway', sans-serif;
  box-shadow: white 1px 1px 4px 2px;
  /* padding: 10px; */

}
/* HEADER */
.header {
  /* background-image: url('./assets/images/farzad-mohsenvand-TbuescuqMjA-unsplash.jpg');
  background-size: cover; */
  height: 200px;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}
/* https://cssgradient.io/blog/css-gradient-text/ */
.header h1 {
  margin: auto;
  font-size: 60px;
  /* color: linear-gradient( 359deg,  rgba(150,192,255,1) -17.7%, rgba(255,180,161,1) 101.5% ); */
  background: -webkit-linear-gradient(  rgba(150,192,255,1), rgba(255,180,161,1) 101.5% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: white 1px 1px 1px ; */
}

/* NAVIGATION */

.nav ul {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  list-style: none;
  
}
/* LINKS */
a {
  text-decoration: none;
  color: darkgoldenrod;
}
.selected {
  text-decoration: none;
  color: coral;
}
a:hover {
  color: white;
  text-decoration: none;
}
/* TEXT STYLING */
p {
  font-size: 16x;
  color: white;
  
}
h1 {
  color: cadetblue;
  margin: 10px;
}
h2 {
  color: darkgoldenrod;
}
/* IMAGES */
img {
  width: 400px;
  border: white solid 1px;
  
}
/* APOD COMP */
.apod {
  display: grid;
  grid-template-areas: "date date"
                        "title title"
                        "photo explanation"
                        "oldApods oldApods";

}
.date {
  grid-area: date;
  color: coral;
  text-align: center;
}
.title {
  grid-area: title;
  color: darkgoldenrod;
  text-align: center;

}
.photo {
  grid-area: photo;
  padding: 20px;
}
.explanation {
  grid-area: explanation;
  padding: 20px;
}
.oldApods {
  grid-area: oldApods;
  text-align: center;
}

/* VIEW APODS COMP */
.viewAPods {
  display: grid;
  grid-template-areas: 
                        "view-date view-date"
                        "view-title view-title"
                        "view-explanation view-photo";
  
}
.view-date {
  grid-area: view-date;
  text-align: center;
}
.view-title {
  grid-area: view-title;
  text-align: center;
}
.view-explanation {
  grid-area: view-explanation;
  padding: 20px;
}
.view-photo{
  grid-area: view-photo;
  padding: 20px;
}
/* OLD APODS COMP */
.form {
  grid-area: form;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
label {
  margin: 10px;
}
input {
  height: 40px;
  margin: 10px;
}
button {
  height: 40px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  background-color: teal;
  
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  opacity: 100%;
}
button:hover {
  opacity: 80%;
}
/* SOURCES */
.sources {
  padding: 1px;
}
.sources h1 {
  text-align: center;
  font-size: 50px;
}
.sources li {
  color: coral;
  text-align: center;
  list-style: none;
  line-height: 30px;
}


.border {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}